# Datasets
datasets/circor
datasets/PASCAL
datasets/physionet.org
datasets/ZCHSound
models/OPERA/datasets/*

# Logging
wandb/

# Saved models
models/OPERA/cks/model/*
models/OPERA/cks/linear/*
models/OPERA/cks/linear_old/*
models/OPERA/cks/linear_cv/*
models/OPERA/cks/finetune/*
models/OPERA/src/benchmark/baseline/audioMAE/pretrained.pth
models/OPERA/src/benchmark/baseline/vggish/vggish_model.ckpt

# Pretraining preprocessed data
models/OPERA/feature/circor_eval/entire_spec_npy/*
models/OPERA/feature/pascal_A_eval/entire_spec_npy/*
models/OPERA/feature/pascal_B_eval/entire_spec_npy/*
models/OPERA/feature/physionet16_eval/entire_spec_npy/*
models/OPERA/feature/zchsound_clean_eval/entire_spec_npy/*
models/OPERA/feature/zchsound_noisy_eval/entire_spec_npy/*

# Scripts in progress
models/OPERA/scripts/*

# Debugging
launch.json
*.ipynb

# Pycache
*.pyc
__pycache__/
