datasets_new/
wandb/

# Saved OPERA models
src/models/OPERA/cks/model/*
src/models/OPERA/datasets_new
src/models/OPERA/feature/zchsound_eval
src/models/OPERA/scripts/zchsound_eval.sh
src/models/OPERA/scripts/pascal_eval.sh
src/models/OPERA/src/benchmark/processing/zchsound_processing.py
src/models/OPERA/src/benchmark/processing/pascal_processing.py



